* {
    box-sizing: border-box
}

body {
    background: lightseagreen;
}

.header {
    background: #ffffff;
    border-color: #cccccc;
    height: 48px;
}

#name {
    background:  #4aaaa5;
    color: #ffffff;
    width: 250px;
    height: 48px;

}

 
#nav {
    color: #4aaaa5;
    background: #ffffff;
    border-color: #cccccc;
    height: 48px;
    width: 300px;
}

h2 h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.content {
    background: #ffffff;
    border-color: #dddddd;
    width: 960px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
.contact {
    background: #ffffff;
    border-color: #dddddd;
    width: 400px;
    height: 450px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
#nav_contact{
    background: #ffffff;
    border-color: #dddddd;
    width: 250px;
    height: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
#footer {
    background: #666666;
    height: 48px;
}

